.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.listItems {
  background: #ccc;
  overflow: hidden;
  padding: 2em 1em;
}

.listItems ul.list {
  overflow: hidden;
  max-width: 200px;
  margin: 0 auto 20px;
}

.items input[type="text"] {
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #222;
  border-radius: 3px;
  outline: 0;
  min-width: 250px;
}

.items input[type="submit"] {
  margin-top: 1em;
  background: #396eaf;
  padding: 10px 20px;
  min-width: 150px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s;
  border-radius: 3px;
}

.items input[type="submit"]:hover {
  background: #64a0e8;
}

.list {
  text-align: left;
}
.list li {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}
.list li + li {
  margin-top: 1em;
}
.list li:hover {
  cursor: pointer;
  color: #396eaf;
}

.item-filter ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 2em 0;
}
.item-filter ul li {
  display: inline-block;
  background: #396eaf;
  border-radius: 3px;
  padding: 10px 1em;
  min-width: 50px;
  text-align: center;
  transition: .3s;
  color: #fff;
}
.item-filter ul li + li {
  margin-left: 1.5em;
}
.item-filter ul li:hover {
  cursor: pointer;
  background: #64a0e8;
}

.form-search {
  max-width: 400px;
  text-align: left;
  margin: 0 auto
}
.form-search h4 {
  margin-bottom: 5px;
  color: #5d5b5b;
  font-weight: normal;
}
.form-search input {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
